<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
            <div class="userInfo">
                <p>${sessionScope.userName}</p>
            </div>
            <button type="button" class="signOut" class="btn">SIGN OUT</button>
    </div>

    <div id="menu">
        <div class="home btn">
            <a href="/main">HOME</a>
        </div>

        <div class="create btn">
            <a href="/memo/create">CREATE MEMO</a>
        </div>
    </div>

	<div id="container">
        <div class="memo item">
            <a href="/memo/detail">
                <div class="memo title"></div>
                <div class="memo userName"></div>
                <div class="memo editDate"></div>
                <div class="memo content"></div>
            </a>
        </div>
    </div>

    <div id="footer"></div>
</body>
</html>