* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    width: 1200px;
    margin: auto;
  }

  body > * {
    width: 100%;
    display: flex;
  }

  #header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  #header .right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* 링크 스타일 제거 */
a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }