*{box-sizing: border-box;
margin: 0;
padding: 0;

outline: 1px solid black;
}
#header {
  display: flex;

}
#header >.right{
  
}
div {
  margin: 10px 0;
}
.content{
  border: 2px solid #ccc;
  padding: 10px;
  width: 480px;
  min-height: 300px;


  /*내부 내용을 pre태그처럼
  html 에 작성된 그대로 출력*/
  white-space: pre-wrap; 
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}