* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: 1px solid black;
}

body {
    width: 1200px;
    margin: auto;
}

body>* {
    width: 100%;
    display: flex;
}

#header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header > .right {
    display: flex;
    flex-direction: row;
}

#menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.memo {
    width: 100%;
}